main {
  margin: 20px 0;
}

#controls {
  position: -webkit-sticky;
  position: sticky;
  margin: 0 0 20px 0;
}

h1 {
  margin: 0 0 20px 0;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.control {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

#game-tick-outer {
  width: 100%;
  display: block;
}

#game-tick-slider {
  width: calc(100% - 4.5em);
}

#game-tick-counter-outer {
  text-align: right;
  width: 4em;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  #game-outer {
    margin-left: -30px;
  }
}

@media screen and (min-width: 992px) {
  #controls {
    top: 20px;
  }
}
