h1 {
  font-family: Georgia, serif;
}

body {
  font-family: Calibri, sans-serif;
  margin: 10px;
}

header {
  padding: 0 0 10px 0;
  width: 100%;
}

#controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

#controls > * {
  display: inline-block;
  height: 100%;
}

#pattern-selector {
  width: 180px;
  text-overflow: '';
}

#game-tick-slider {
  width: 120px;
}

#game-tick-outer {
  width: 210px;
  text-align: center;
}

#game-tick-counter-outer {
  width: 3em;
  text-align: right;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
}

#start-button {
  width: 5em;
}

#generation-counter-outer {
  flex: auto;
  text-align: right;
}

#generation-counter {
  vertical-align: top;
}

#game {
  width: 801px;
  height: 801px;
}

@media screen and (max-width: 830px) {
  #game {
    margin: 0 -10px;
  }

  body {
    width: 800px;
  }

  header {
    position: sticky;
    width: calc(100vw - 35px);
    left: 10px;
  }
}
