* {
  font-family: 'Ubuntu', sans-serif;
}

main {
  margin: 20px 0;
}


#controls {
  padding: 50px 15px 0 15px;
  margin-top: -50px;
}

h1 {
  margin: 0 0 20px 0;
}

.control {
  width: 100%;
  margin: 0 0 10px 0;
}

#game-tick-outer {
  width: 100%;
  display: block;
  display: flex;
}

#game-tick-slider {
  /*width: calc(100% - 4.5em);*/
  flex: 1 1 auto;
}

#game-tick-counter-outer {
  flex: 0 0 4.2em;
  text-align: right;
  /*width: 4em;*/
  display: inline-block;
}

/*#start-button {
  width: 100%;
}*/

@media screen and (max-width: 999px) {

  #game-outer {
    /*margin-left: -30px;*/
    margin: 0 auto;
    padding: 0;
    /*width: unset !important;*/
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }


/*  #game-outer {
    padding: 0;
  }
*/
  #game {
    width: 100%;
  }



}

@media (hover: none) {
  abbr:hover::after, abbr:hover::active {
    text-decoration: none;
    content: attr(title);
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    background: #ff9;
    padding: 5px 10px;
    border: 1px solid rgba(150,150,150,0.1);
  }
}

@media screen and (min-width: 1000px) {

  #controls {
    position: fixed;
    background: #fff;
    z-index: 1;
    height: 110vh;
    padding: 50px 15px 0 30px;

  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/img/caret_down.png) calc(100% - 3px) / 18px no-repeat #fff;
  padding: 6px 23px 6px 10px !important;
}
